$mode: (
  "border-color": ("light", 700),
);

$reverse: (
  "border-color": ("dark", 700),
);

$primary: (
  "border-color": ("primary", 550),
);

$success: (
  "border-color": ("success", 550),
);

$info: (
  "border-color": ("info", 550),
);

$warning: (
  "border-color": ("warning", 550),
);

$danger: (
  "border-color": ("danger", 550),
);

$layer-divider: (
  "mode": $mode,
  "reverse": $reverse,
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
