$mode: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$reverse: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$primary: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$success: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$info: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$warning: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$danger: (
  "fill": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),
  "underline": (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  "text": (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    )
  ),
);

$layer-tabs: (
  "mode": $mode,
  "reverse": $reverse,
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
