$mode: (
  "underline" : (
    "border-color": ("light", 700),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),

  "text" : (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
);


$reverse: (
  "underline" : (
    "border-color": ("dark", 700),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("dark", 700),
      "hover": ("light", 900),
      "focus": ("dark", 850),
      "active": ("dark", 850),
      "disabled": ("dark", 400),
    ),
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
    "background-color": (
      "": ("light", 700),
      "hover": ("light", 900),
      "focus": ("light", 850),
      "active": ("light", 850),
      "disabled": ("light", 400),
    ),
  ),

  "text" : (
    "color": (
      "": ("dark", 900),
      "hover": ("dark", 800),
      "focus": ("dark", 900),
      "active": ("dark", 900),
      "disabled": ("dark", 400),
    ),
  ),
);

$primary: (
  "underline" : (
    "border-color": ("primary", 550),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("primary", 550),
      "hover": ("primary", 650),
      "focus": ("primary", 750),
      "active": ("primary", 750),
      "disabled": ("primary", 250),
    ),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
    "background-color": (
      "": ("primary", 550),
      "hover": ("primary", 650),
      "focus": ("primary", 750),
      "active": ("primary", 750),
      "disabled": ("primary", 250),
    ),
  ),

  "text" : (
    "color": (
      "": ("primary", 550),
      "hover": ("primary", 650),
      "focus": ("primary", 750),
      "active": ("primary", 750),
      "disabled": ("primary", 250),
    ),
  ),
);

$success: (
  "underline" : (
    "border-color": ("success", 550),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("success", 550),
      "hover": ("success", 650),
      "focus": ("success", 750),
      "active": ("success", 750),
      "disabled": ("success", 250),
    ),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
    "background-color": (
      "": ("success", 550),
      "hover": ("success", 650),
      "focus": ("success", 750),
      "active": ("success", 750),
      "disabled": ("success", 250),
    ),
  ),

  "text" : (
    "color": (
      "": ("success", 550),
      "hover": ("success", 650),
      "focus": ("success", 750),
      "active": ("success", 750),
      "disabled": ("success", 250),
    ),
  ),
);

$info: (
  "underline" : (
    "border-color": ("info", 550),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("info", 550),
      "hover": ("info", 650),
      "focus": ("info", 750),
      "active": ("info", 750),
      "disabled": ("info", 250),
    ),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
    "background-color": (
      "": ("info", 550),
      "hover": ("info", 650),
      "focus": ("info", 750),
      "active": ("info", 750),
      "disabled": ("info", 250),
    ),
  ),

  "text" : (
    "color": (
      "": ("info", 550),
      "hover": ("info", 650),
      "focus": ("info", 750),
      "active": ("info", 750),
      "disabled": ("info", 250),
    ),
  ),
);

$warning: (
  "underline" : (
    "border-color": ("warning", 550),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("warning", 550),
      "hover": ("warning", 650),
      "focus": ("warning", 750),
      "active": ("warning", 750),
      "disabled": ("warning", 250),
    ),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
    "background-color": (
      "": ("warning", 550),
      "hover": ("warning", 650),
      "focus": ("warning", 750),
      "active": ("warning", 750),
      "disabled": ("warning", 250),
    ),
  ),

  "text" : (
    "color": (
      "": ("warning", 550),
      "hover": ("warning", 650),
      "focus": ("warning", 750),
      "active": ("warning", 750),
      "disabled": ("warning", 250),
    ),
  ),
);

$danger: (
  "underline" : (
    "border-color": ("danger", 550),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
  ),
  
  "fill" : (
    "border-color": (
      "": ("danger", 550),
      "hover": ("danger", 650),
      "focus": ("danger", 750),
      "active": ("danger", 750),
      "disabled": ("danger", 250),
    ),
    "color": (
      "": ("light", 900),
      "hover": ("light", 800),
      "focus": ("light", 900),
      "active": ("light", 900),
      "disabled": ("light", 400),
    ),
    "background-color": (
      "": ("danger", 550),
      "hover": ("danger", 650),
      "focus": ("danger", 750),
      "active": ("danger", 750),
      "disabled": ("danger", 250),
    ),
  ),

  "text" : (
    "color": (
      "": ("danger", 550),
      "hover": ("danger", 650),
      "focus": ("danger", 750),
      "active": ("danger", 750),
      "disabled": ("danger", 250),
    ),
  ),
);

$layer-tabs: (
  "mode": $mode,
  "reverse": $reverse,
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
