// Shared config (same for dark & light)
$spacing-x: 0.25rem !default;
$spacing-y: 0.25rem !default;
$spacing: (
  "x": $spacing-x,
  "y": $spacing-y,
) !default;

$stroke-width: 0.55px !default;
$stroke: (
  "width": $stroke-width,
) !default;

$duration: 0.25s !default;
$motion: (
  "duration": $duration,
) !default;

$viewport-width: 100vw !default;
$viewport-height: 100vh !default;
$viewport-max-width: 100vw !default;
$viewport-max-height: 100vh !default;
$viewport: (
  "width": $viewport-width,
  "height": $viewport-height,
  "max-width": $viewport-max-width,
  "max-height": $viewport-max-height,
) !default;

$overlay-max-width: 300px !default;
$overlay-max-height: 300px !default;
$overlay: (
  "max-width": $overlay-max-width,
  "max-height": $overlay-max-height,
) !default;

$shape-flat-border-radius: 0rem !default;
$shape-rounded-border-radius: 0.5rem !default;
$shape-pill-border-radius: 2rem !default;
$shapes: (
  "flat": (
    "border-radius": $shape-flat-border-radius,
  ),
  "rounded": (
    "border-radius": $shape-rounded-border-radius,
  ),
  "pill": (
    "border-radius": $shape-pill-border-radius,
  ),
) !default;

$size-small-height: 28px !default;
$size-small-font-size: 0.8em !default;
$size-small-line-height: 1.5 !default;
$size-small-coefficient-x: 2 !default;
$size-small-coefficient-y: 1 !default;
$size-standard-height: 38px !default;
$size-standard-font-size: 1em !default;
$size-standard-line-height: 1.5 !default;
$size-standard-coefficient-x: 3 !default;
$size-standard-coefficient-y: 2 !default;
$size-large-height: 48px !default;
$size-large-font-size: 1.2em !default;
$size-large-line-height: 1.5 !default;
$size-large-coefficient-x: 4 !default;
$size-large-coefficient-y: 3 !default;
$sizes: (
  "small": (
    "height": $size-small-height,
    "font-size": $size-small-font-size,
    "line-height": $size-small-line-height,
    "coefficient-x": $size-small-coefficient-x,
    "coefficient-y": $size-small-coefficient-y,
  ),
  "standard": (
    "height": $size-standard-height,
    "font-size": $size-standard-font-size,
    "line-height": $size-standard-line-height,
    "coefficient-x": $size-standard-coefficient-x,
    "coefficient-y": $size-standard-coefficient-y,
  ),
  "large": (
    "height": $size-large-height,
    "font-size": $size-large-font-size,
    "line-height": $size-large-line-height,
    "coefficient-x": $size-large-coefficient-x,
    "coefficient-y": $size-large-coefficient-y,
  ),
) !default;

$directions: (
  "left": (
    "text-align": left,
    "justify-content": start,
  ),
  "right": (
    "text-align": right,
    "justify-content": end,
  ),
) !default;

$roles: (
  "light": (
    #ffffff,
    950,
  ),
  "dark": (
    #000000,
    950,
  ),
  "primary": (
    #0152a8,
    550,
  ),
  "danger": (
    #dc3545,
    550,
  ),
  "success": (
    #1c9172,
    550,
  ),
  "info": (
    #148ad9,
    550,
  ),
  "warning": (
    #ffc107,
    550,
  ),
) !default;
